
.body{
    
    width: 100%;
    
    flex-direction: column;
    
    justify-content: center;
    background-image: url(airline.jpg); 
    grid-template-columns: auto auto;
    display: grid;
    background-repeat: no-repeat;
    
    background-size: cover ;

    
}

.container{
    padding: 10px 10px;
    
}
.form{
    margin:20px 20px;
    border-radius: 15px;
    background-color: rgb(207, 207, 219);
    padding: 10px 10px;

}

.group-card{
    display: grid;
    grid-template-columns: auto auto;
    width: 500px;

}
.card-individual{
    
    border: 5px solid rgb(69, 130, 228);
    margin: 10px 10px;
    padding: 10px 10px;
    background-color: rgb(207, 207, 219);
    border-radius: 15px;
    
}

#buttoncompra{
    border: 0;
    border-radius: 8px;
    margin-left: 50%;
}
.input-group {
    
    padding : 8px;

    /* background-color:blue;
     */
}